body 
{
    background-image: url(https://i.gifer.com/2RNf.gif); 

}    
.card {
    
    width: 500px; /* Adjust width as needed */
     /* Center horizontally */
    
    position: relative;
    top: 50px;
    left: 400px;
    border-radius: 10px;
    transition: width 0.8s ease; 
     
    
}


.card:hover {
    transform: scale(1.1); /* Scale up the form on hover */
    
}